#header {
    margin-left:500px;
    margin-top:15px;
}

#tabla-contenidos img{
    width: 100%;
}

.col-md-4 img{
    width: 99%;
    border-style:solid;
    border-color:#020000;
}

.col-md-3 img{
    width: 92%;
    border-style:solid;
    border-color:#020000;
}


h1{
    margin-top: 100px;
    margin-left: 20px;
    font: 1000 15.5px/15px 'Montserrat', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-size: 120%;

}
h2 {
    font: bold 'Montserrat', sans-serif;
    font-size: 130%;
    margin-left: 40px;
}

label {
    font: bold 'Montserrat', sans-serif;
}

a{
    color: black;
}
header {
    background: #232323;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 77px;
    z-index: 101;
    transition: all 0s;
    -ms-transition: all 0s;
    -moz-transition: all .0s;
    -webkit-transition: all .0s;
}

#boton1{
    background-color: #4267b2;
    color: white;
    height: 44px;
    position: absolute;
    right: 80px;
    top: 200px;
    width: 500px;


}

#boton2{
    background-color: #ef403b;
    color: white;
    position: absolute;
    right: 80px;
    top: 250px;
    height: 44px;
    width: 500px;
}


.container {
    position: relative;

}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: -39px;
    left: 36px;
    color: black;
    border-style:solid;
    border-color:#bfbfbf;
    border-width: 2px;
    font: 600 12px/15px 'Montserrat', sans-serif;
}

.bottom-two {
    position: absolute;
    bottom: -80px;
    left: 25px;
    color: black;
    font: 800 15.5px/15px 'Montserrat', sans-serif;
}

#test1{
    color: red;
}

.btn btn-default btn-lg{
    position: absolute;
    background-color: #232323;
    color: white;
    left: 500px;

}

.bottom-right {
    position: absolute;
    bottom: -20px;
    right: -85px;
    color: white;
    text-align: center;
    width: 95%;
    font-size: 500%;
}

h7 {
     margin-top: 100px;
    margin-left: 800px;
    font: 1000 15.5px/15px 'Montserrat', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-size: 120%;
    }